
body{
  background-color: #012943  ;
  font-size: 12px;
  color : #FFF;
  text-shadow: none;
  padding-left:  240px;

}
.heading1div{
  background-image: url(../img/header-blue.gif) ;
  height: 50px;
  width: 66.7vw;
}
.heading1{
  margin-top: 0;
  
}
.maindiv{
  /* background: white; */
  width: 66.7vw;
  border:2px solid gray;
  padding:25px;
  margin-top: 5px;
}
.mainarticle{
  padding-top: 5px;
  background:skyblue;
}

.firstdiv {
    margin-left: 30px;	
}

.header2{
    font-size: 50px;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-weight: normal;
    text-transform: none;
    line-height: 60px;
    color: #3d414c;
    padding: 10px 30px;
    letter-spacing: 0;
    position: relative;
    margin: auto;
    width: 964px;
    background-color: rgb(227, 242, 252);
}