body{
  background-color: #012943  ;
  font-size: 12px;
  color : #FFF;
  text-shadow: none;
  margin:0 auto;
  width: 66.7vw;
}
html{
  height: 200vh;
}
.heading1div{
  background-image: url(../img/header-blue.gif) ;
  height: 50px;
  width: 66.7vw;
  margin-top: -15px;
}
.heading1{
    color: #fff;
    text-decoration: none;
     font-size: 24px;
    font-weight: bold;
    padding: 5px 25px 0px;
}
.heading1:hover{
    background-color: #02568e;
    width: 30vw;

}
.topimg{
  width: 66.7vw;
}
.maindiv{
  width: 66.7vw;
  border:2px solid gray;
}
.firstdiv {
    font-size: 16px;
}
.mainarticle{
    width: 66.7vw;
  background:#E3F2FC;
  color: #3D414C;
  height:10vh;

}
.header2{
    font-size: 45px;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-weight: normal;
    text-transform: none;
    line-height: 60px;
    color: #3d414c;
    letter-spacing: 0;
    position: relative;
    margin: auto;
    width: 60.7vw;
    background-color: rgb(227, 242, 252);
}
.innerExpArticle2 {
    width: 66.7vw;
    background-image: url("../img/content_bg.jpg");
    /* height:133vh; */
    margin: 0 auto;
}
.innerExpArticle1{
  display: flex;
  justify-content: space-around;
  /* background: url("../images/content_bg.jpg"); */
  background: white;
  height: 20vh;
  margin-left: 25px;
  margin-right: 25px;
}
.para {
  font-size: 17px;
  margin-left: 25px;
  margin-right: 15px;
  line-height: 24px;
  padding: 10px;
  color: black;
}
.ol{
  font-size: 17px;
  margin-left: 45px;
  margin-right: 15px;
  line-height: 24px;
  padding: 10px;
  color: black;
}
 .para2{
   font-size: 17px;
   line-height: 25px;
   color:black;
   margin-left: 40px;

 }
.para1{
  font-size: 17px;
  margin-left: 25px;
  margin-right: 15px;
  line-height: 24px;
  padding: 10px;
  color: black;
  margin-top: -15px;

}
.p1{
  margin-top: -20px;
  margin-left: 32px;
  font-size: 25px;
  color: black;
}
.experiment{
  height: 15vh;
}
.experiment:hover,.experiment.h3:hover{
  background-color: #02568e;
  /* text-decoration-color: white; */
  color: #fff;
}

.theory{
height: 15vh;
}

.theory:hover{
  background-color: #02568e;
     color: white;
}

.objective{
height: 15vh;
}
.objective:hover{
  background-color: #02568e;
 color: white;
}
.introduction{
height: 15vh;
}
.introduction:hover{
  background-color: #02568e;
 color: white;
}
.manual{
height: 15vh;
}
.manual:hover{
  background-color: #02568e;
 color: white;

}
.quizzes{
height: 15vh;
}
.quizzes:hover{
  background-color: #02568e;
 color: white;
}
.other{
height: 15vh;
}
.other:hover{
  background-color: #02568e;
 color: white;

}
.img{
  margin:10px;
}
.text{
  color: #02568e;
  text-decoration: underline;
  margin-top: 0px;
  font-size: 16px;

}
.video{
margin-left: 150px;
width: 70%;
height:50vh;

}
.foot{
  text-decoration: underline;
  margin-left: 330px;
  display: flex;
  margin-top: 150px;
}
.foot1{
  color: #607890;
}
.foot1:hover{
  color:#012990;
}
.h2{
  text-align: center;
  font-size: 17px;
  color: black;
  text-decoration: underline;
}
.paragraph{
  /* display: flex; */
  margin-left: 25px;
  margin-right: 20px;

}
