
body{
  background-color: #012943  ;
  font-size: 12px;
  color : #FFF;
  text-shadow: none;
  margin:0 auto;
  /* padding-left:  240px;  */
  /* padding-right: 200px; */
    width: 66.7vw;

}
.heading1div{
  background-image: url(../img/header-blue.gif) ;
  height: 50px;
  width: 66.7vw;
}
.heading1{
  /* margin-top: 0; */

}
.topimg{
  width: 66.7vw;
}
.maindiv{
  /* background: white; */
  width: 66.7vw;
  border:2px solid gray;
  /* padding:25px; */
  /* margin-top: 5px; */
}
.mainarticle{
    width: 66.7vw;
  /* padding-top: 5px; */
  background:#E3F2FC;
  color: #3D414C;


}

.firstdiv {
    /* margin-left: 30px; */
}

.header2{
    font-size: 45px;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-weight: normal;
    text-transform: none;
    line-height: 60px;
    color: #3d414c;
    /* padding: 10px 30px; */
    letter-spacing: 0;
    position: relative;
    margin: auto;
    width: 60.7vw;
    background-color: rgb(227, 242, 252);
}
.expArticle {
    height: 60vh;
    margin: 0 auto;
    width: 66.7vw;
    background: url(../images/content_bg.jpg);
}
.innerExpArticle{
  display: flex;
  justify-content: space-around;
  background: white;
  height: 14vh;
  margin-left: 25px;
  margin-right: 25px;

}
.innerExpArticle2{
  
  background: white;
  height: 14vh;
  margin-left: 25px;
  margin-right: 25px;

}
